<div class="bottom-search-area hide-sm">


<input id="location" placeholder="Où voulez-vous aller ?" name="location"></input>
    <input id="checkin" placeholder="Arrivée" name="checkin"></input>
    <input id="checkout" placeholder="Départ" name="checkout"></input>

    <select id="guests" name="guests">
        <option value="1">1 traveler</option>
        <option value="2">2 travellers</option>
        <option value="3">3 travellers</option>
        <option value="4">4 travellers</option>
        <option value="5">5 travellers</option>
        <option value="6">6 travellers</option>
        <option value="7">7 travellers</option>
        <option value="8">8 travellers</option>
        <option value="9">9 travellers</option>
        <option value="10">10 travellers</option>
        <option value="11">11 travellers</option>
        <option value="12">12 travellers</option>
        <option value="13">13 travellers</option>
        <option value="14">14 travellers</option>
        <option value="15">15 travellers</option>
        <option value="16">16 travellers</option>
    </select>



<button id="submit_location" class="search-button form-inline btn btn-primary btn-large" type="submit">
Search</button>
</div>

