<div align="center" id="banner">
  <div><p class="notice"><%= notice %></p><p class="alert"><%= alert %></div>
  <h1 id="bienvenue">Bienvenue à la maison</h1>
  <p id="titre1">Louez des logements uniques auprès d'hôtes locaux dans plus de 190 pays.</p>
<%= render("shared/searchbar") %>
</div>

<div class="bgimg" id="imbgwhite">
    <div class="container">

        <h3 id="titre2">Juste pour le week-end</h3>
        <h4 id="titre4">Découvrez de nouveaux lieux inspirants près de chez vous.</h4>

          <div class="row imex-margin" align="center">
            <p class="picindex" id="am">Amsterdam</p>
            <p class="picindex" id="be">Berlin</p>
            <p class="picindex" id="br">Bruxelles</p>
            <p class="picindex" id="lo">London</p>
          </div>

          <div class="row" align="center">
            <a href="locations/diverslocation" class="btn btn-sm btn-default">Voir toutes les destinations</a>
          </div>

        <h3 id="titre2">Explorez le monde</h3>
        <h4 id="titre4">Découvrez où voyagent les gens, à travers le monde entier.</h4>

          <div class="row imex-margin" align="center">
            <p class="picindex" id="ma">Madrid</p>
            <p class="picindex" id="pa">Paris</p>
            <p class="picindex" id="ro">Rome</p>
            <p class="picindex" id="os">Oslo</p>
          </div>
    </div>
</div>

<div class="bgimg" id="imbgblack">
    <div class="container imex-margin-top">

        <div class="col-xs-12 col-sm-4">
          <ul>
            <li class="titelbottom">Société</li>
            <li>&nbsp;</li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Emploi</a></li>
            <li><a href="#">Presse</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Règles</a></li>
            <li><a href="#">Réponse aux</a></li>
            <li><a href="#">catastrophes</a></li>
            <li><a href="#">Conditions générales et </a></li>
            <li><a href="#">confidentialité</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
          <ul>
            <li class="titelbottom">Découvrir</li>
            <li>&nbsp;</li>
            <li><a href="#">Confiance et sécurité</a></li>
            <li><a href="#">Inviter des amis</a></li>
            <li><a href="#">La sélection Airbnb</a></li>
            <li><a href="#">Application mobile</a></li>
            <li><a href="#">Soutenir New York</a></li>
            <li><a href="#">Voyage d'affaires</a></li>
            <li><a href="#">Plan du site</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
          <ul>
            <li class="titelbottom">Hébergement</li>
            <li>&nbsp;</li>
            <li><a href="#">Pourquoi être hôte</a></li>
            <li><a href="#">Hospitalité</a></li>
            <li><a href="#">Hébergement</a></li>
            <li><a href="#">responsable/a></li>
            <li><a href="#">Sécurité à la maison</a></li>
            <li><a href="#">Les histoires</a></li>
          </ul>
        </div>

  </div>
          <h3 id="titre5">Rejoignez-nous sur</h3>
</div>

<!--<%= image_tag 'amsterdam.jpg'%>-->